.pageWrapper {
  // background: linear-gradient(to bottom, #495058, #262525);
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  font-family: "Jobber Pro", "Poppins", Helvetica, Arial, sans-serif;

  h1 {
    flex: 1 0 auto;
  }

  .listsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; // Add this line
    justify-content: flex-start;
    // height: calc(48vh + 20px);
    margin-bottom: 20px;

    .columnContainer {
      display: flex;
      flex-direction: column;
      max-width: calc(33.33% - 10px);
      flex: 1 1 auto;
      margin-right: 10px;
      margin-top: var(--space-larger);
      height: 47vh;
      min-width: 350px;
    }
  }
}
